@magenta: #ad00d8;
@pink   : #ca5ce6;

.topnav {
    background-color: @magenta;
    border-radius   : 0 0 15px 15px;
    overflow        : hidden;

    .right-section {
        float     : right;
        text-align: center;

        a,
        span {
            float          : left;
            color          : white;
            text-align     : center;
            padding        : 20px 4px;
            text-decoration: none;
            font-size      : 13px;
        }

        .btn-logout {
            margin-right: 15px;
        }
    }

    a {
        &:hover {
            background-color: rgb(185, 111, 185);
            color           : @magenta;
            border-radius   : 20px;
        }

        &:active {
            background-color: @pink;
            color           : white;
            border-radius   : 20px;
        }
    }

    .logo {
        width      : 60px;
        margin-left: 15px;
    }
}

ul {
    list-style-type: none;
    padding        : 0;
}

.body-container {

    width   : 100%;
    height  : calc(100vh - 60px);
    position: relative;

    .progress-container {
        margin: auto;
        width : 282px;
        ;
    }

    .search {
        width    : 100%;
        max-width: 600px;
        margin   : auto;
        position : relative;
        display  : flex;

        .search-term {
            width        : 100%;
            border       : 3px solid @magenta;
            border-right : none;
            padding-left : 15px;
            height       : 54px;
            border-radius: 5px 0 0 5px;
            outline      : none;
            color        : black;
        }

        .search-button {
            width        : 54px;
            height       : 54px;
            border       : 3px solid @magenta;
            background   : @pink;
            text-align   : center;
            color        : #fff;
            border-radius: 0 5px 5px 0;
            cursor       : pointer;
            font-size    : 20px;

            .loop-icon {
                width: 100%;
            }

            &:disabled {
                opacity: 0.75;

                .loop-icon {
                    display: none;
                }
            }
        }
    }

    .search-result {
        display   : flex;
        margin-top: 30px;

        .image-container {
            width  : 100%;
            padding: 25px;

            .image {
                display     : block;
                margin-left : auto;
                margin-right: auto;
                width       : 55%;
            }
        }

        .empty-result {
            text-align: center;
            width     : 100%;
            margin-top: -10px;
            color     : @pink;
        }

    }

    .wrap {
        width     : 70%;
        position  : absolute;
        top       : 50%;
        left      : 50%;
        max-height: 95%;
        overflow  : auto;
        transform : translate(-50%, -50%);

        /* IE and Edge */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width   : none;

        /* Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content         : '';
    box-sizing      : border-box;
    position        : absolute;
    top             : 14px;
    right           : 13px;
    width           : 25px;
    height          : 25px;
    border-radius   : 50%;
    border          : 2px solid #ffffff;
    border-top-color: #000000;
    animation       : spinner .8s linear infinite;
}